body {
	font-family: Arial, sans-serif;
	background-color: #f3f3f9;
	margin: 0;
	padding: 0;
	color: #333;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	gap: 20px;
}
.wrapper {
    max-width: 600px;
    margin: 0 auto;
    min-width: 305px;
    padding: 20px;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px #dadada;
}

h1 {
	color: #08425a;
	text-align: center;
	margin-top: 0;
}
.none {
	display: none;
}
label {
	margin-top: 10px;
	display: block;
	font-weight: bold;
	color: #08425a;
}

.otherStats .stats {
    border-top: 1px solid #dadada;
    padding: 20px 0px;
}

.stats.start {
    padding-bottom: 20px;
}

.removeButton svg {
    padding-left: 10px;
}

select, input[type="number"], input {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-sizing: border-box;
}
.dragon input {
    width: auto;
    margin: 0;
}
.dragon {
    display: inline-flex;
    padding-top: 10px;
}
.dragon label {
    margin: 0;
    padding-left: 10px;
}
.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}
.buttons button svg {
    fill: #e5dfbc;
    margin-right:5px
}


button {
	background-color: #08425a;
	color: #e5dfbc;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	display: block;
	margin-top: 15px;
	flex: 1 1 100%;
	display: flex;
	justify-content: center;
}

button:hover {
	background-color: #053549;
}

.totalCount {
	background-color: #e2e2e2;
	padding: 15px;
	margin-top: 20px;
	border-radius: 5px;
}

.totalCount p {
	margin: 5px 0;
}

.costsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Väli boksien välillä */
}

#statsSummary{
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 600px;
    display: none;
}

.page {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#statsSummary > div {
    background: #fff;
}
#statsSummary .share {
    width: 100%;
    background: transparent;
}

.troopStats {
    position: relative;
}


.removeButton p {
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.removeButton {
    position: absolute;
    top: 0;
    right: 0;
}
.removeButton p:hover svg {
    fill: #5D1049;
}

footer {
    box-shadow: 0px 0px 3px #ffffff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
	column-gap: 20px;
    display: flex;
    justify-content: center;
    height: 50px;
    background: #08425a;
    align-items: center;
}

footer div {
    width: 600px;
    text-align: center;
}

footer p {
    margin: 0;
    font-style: italic;
    color: #e5dfbc;
}

.animated {
    animation: highlight 2s ease;
	animation-iteration-count: 2;
}

#statsSummary > button#closeResults {
    background: transparent;
    column-gap: 20px;
	padding: 0px 20px;
    margin: 0;
    color: #08425a;
	width: 100%;
	display: flex;
}

#statsSummary > button#closeResults svg {
    height: 20px;
    fill: #08425a;
	transition: 0.2s;
}

#statsSummary > button#closeResults:hover svg {
    transform: rotate(90deg);
}

#statsSummary > button#closeResults:hover span {
    text-decoration: underline;
}

label span {
    text-transform: capitalize;
}

.statsCard {
    border: 1px solid #ccc;
    padding: 10px;
    flex: 1 1 24%;
    box-sizing: border-box;
    min-width: 200px;
    box-shadow: 0px 2px 10px 0px #c5c5c5;
}

.statsCard h4 {
    margin-top: 0;
    color: #08425a;
    text-transform: capitalize;
}

.statsCardSummary {
    border: 1px solid #ccc;
    padding: 10px;
    flex: 1 1 100%;
    box-sizing: border-box;
    min-width: 200px;
    box-shadow: 0px 2px 10px 0px #c5c5c5;
    counter-reset: list-counter;
}

.statsCardSummary p{
    margin-top: 0;
    color: #000000;
    font-weight: bold;
    text-transform: capitalize;
}

.statsCardSummary p {
    position: relative;
    padding-left: 5px;
}

.statsCardSummary p:last-child {
    margin: 0;
}

.statsCardSummary h4 {
    margin-top: 0;
    color: #08425a;
}

.error {
    border: 2px solid red;
    background-color: #ffe6e6;
}

button#shareResults {
    margin-top: 0;
    width: 220px;
    max-width: 220px;
}

/* Mobiilinäkymä, boksit allekkain */
@media (max-width: 600px) {
    .statsCard {
        flex: 1 1 40%;
	}
}

@keyframes highlight {
    0%, 100% {
        border-top: 1px solid #dadada;
    }
    50% {
        border-top: 1px solid #c55252;
    }
}
